@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --color-primary: #1C5E93;
  --color-secondary: #4E4E4E;
  --border-color-primary: rgba(217, 217, 217, 0.27);
  --primary-background-color: #F5F6FA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-background: var(--primary-background-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

li > a {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}